// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

/**
 * Port container
 */
#jsee-container {
  margin-bottom: 35px;
}

/**
 * Logos
 */
.logo_footer {
  margin-left: -3px;
  img {
    opacity: 0.35
  }
  &:hover img {
    opacity: 1
  }
}

.social-links {
  display: flex;
  justify-content: right;

  .social-media-list {
    margin: 0
  }
}

