<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        <!-- Container for a JSEE app -->
        <div id="jsee-container"></div>

        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    {%- if site.jsee_runtime or page.jsee_runtime -%}
      {%- assign jsee_script = "jsee.runtime.js" -%}
    {%- else -%}
      {%- assign jsee_script = "jsee.js" -%}
    {%- endif -%}

    {%- if site.jsee_container or page.jsee_container -%}
      {%- if site.jsee_container -%}
        {%- assign jsee_container = site.jsee_container -%}
      {%- else -%}
        {%- assign jsee_container = page.jsee_container -%}
      {%- endif -%}
    {%- else -%}
      {%- assign jsee_container = "jsee-container" -%}
    {%- endif -%}

    {% if site.jsee_version or page.jsee_version %}
      {% if site.jsee_version %}
        <script src="https://cdn.jsdelivr.net/npm/@jseeio/jsee@{{ site.jsee_version }}/dist/{{ jsee_script }}"></script>
      {%- else -%}
        <script src="https://cdn.jsdelivr.net/npm/@jseeio/jsee@{{ page.jsee_version }}/dist/{{ jsee_script }}"></script>
      {%- endif -%}
    {%- else -%}
      <script src="https://cdn.jsdelivr.net/npm/@jseeio/jsee/dist/{{ jsee_script }}"></script>
    {%- endif %}

    {% if site.jsee_schema or page.jsee_schema %}
      {%- if site.jsee_schema -%}
        {%- assign jsee_schema = site.jsee_schema -%}
      {%- else -%}
        {%- assign jsee_schema = page.jsee_schema -%}
      {%- endif -%}

      <script>
        const schema = {{ jsee_schema | jsonify }}
        console.log('[Minima] Schema:', schema)
        var env = new JSEE({
          container: document.getElementById('jsee-container'),
          schema
        })
      </script>
    {%- endif %}

  </body>

</html>
