<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        <!-- Container for a JSEE app -->
        <div id="jsee-container"></div>

        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    {%- if site.jsee_runtime or page.jsee_runtime -%}
      {%- assign jsee_script = "jsee.runtime.js" -%}
    {%- else -%}
      {%- assign jsee_script = "jsee.js" -%}
    {%- endif -%}

    {%- if site.jsee_container or page.jsee_container -%}
      {%- if site.jsee_container -%}
        {%- assign jsee_container = site.jsee_container -%}
      {%- else -%}
        {%- assign jsee_container = page.jsee_container -%}
      {%- endif -%}
    {%- else -%}
      {%- assign jsee_container = "jsee-container" -%}
    {%- endif -%}

    {% if site.jsee_version or page.jsee_version %}
      {% if site.jsee_version %}
        {%- assign jsee_version = site.jsee_version -%}
      {%- else -%}
        {%- assign jsee_version = page.jsee_version -%}
      {%- endif -%}
    {%- else -%}
      {%- assign jsee_version = "latest" -%}
    {%- endif %}

    {% if site.jsee_schema or page.jsee_schema %}
      {%- if site.jsee_schema -%}
        {%- assign jsee_schema = site.jsee_schema -%}
      {%- else -%}
        {%- assign jsee_schema = page.jsee_schema -%}
      {%- endif -%}

      <script src="https://cdn.jsdelivr.net/npm/@jseeio/jsee@{{ jsee_version }}/dist/{{ jsee_script }}"></script>
      <script>window.JSEE || document.write('<script src="https://unpkg.com/@jseeio/jsee@{{ jsee_version }}/dist/{{ jsee_script }}">\x3C/script>')</script>

      <script>
        const schema = {{ jsee_schema | jsonify }}
        console.log('[Minima] Schema:', schema)
        var env = new JSEE({
          container: document.getElementById('jsee-container'),
          schema
        })
      </script>
    {%- endif %}

  </body>

</html>
